/*------------------------------------------------------------------
Project:		Bipartisan Policy Center
Developer:		Ryan Dudek
Last change:	2009-03-24
Made By:		Ryan Dudek
-------------------------------------------------------------------*/

/* !!! PRINT ONLY STYLES !!! */
/* SITE WIDE TEMPLATE STYLES */

html {
background-color: #fff;
}
body {
font: 62.5% Arial, Helvetica, sans-serif;
}
#wrapper {
margin: 0;
padding: 0;
width: 645px;
}
#siteContain {
width: 645px;
padding: 0;
margin: 0 auto 0 auto;
font: 1.1em Arial, Helvetica, sans-serif;
}

#header {
width: 645px;
margin: 0 0 7px 0;
padding: 0 0 10px 0;
border-bottom: 2px solid #0e56a0;
}
#header .headerLeft {

}
#header .headerLeft a {
text-decoration: none;
}
#header .headerLeft h1,#header .headerLeft h2 {
font-size: 1.8em;
margin: 0; padding: 0;
}
#header .headerRight {
display: none;
visibility: hidden;
height: 1px;
}
#header .headerRight ul.contactJoin {
display: none;
visibility: hidden;
height: 1px;
}
#header .headerRight #search-box {  
display: none;
visibility: hidden;
height: 1px;
}

#primary {
display: none;
visibility: hidden;
height: 1px;
}
#primary ul.links {
display: none;
visibility: hidden;
height: 1px;
}

#footer {
width: 645px;
margin: 10px 0 0 0;
padding-top: 7px 0 0 0;
border-top: 1px solid #0e56a0;
}
#footer ul.first {
}
#footer ul {
margin: 0;
}
#footer ul li {
margin: 1px 3px 0 0;
font-size: 0.9em;
display: inline;
list-style: disc;
}
#footer p {
margin: 0;
display: none;
visibility: hidden;
}

#footer #socialLinks, ul#socialLinks-list {
display: none;
visibility: hidden;
height: 1px;
}

/* SITE WIDE TEXT AND IMAGE STYLES */
a {
color: #0e56a0;
text-decoration: none;
}
a:hover {
color: #20587b;
text-decoration: underline;
}

strong {
font-weight: bold;
}
em {
font-style: italic;
}

h1, h2, h3, h4, h5 {
color: #000;
font-weight: bold;
margin-bottom: 1em;
}
h1 {
font-size: 1.6em;
}
h2 {
font-size: 1.5em;
}
h3 {
font-size: 1.4em;
}
h4 {
font-size: 1.3em;
}
h5 {
font-size: 1.2em;
}
h6 {
font-size: 1.1em;
}

p, li {
margin-bottom:1em;
color: #000;
font-size: 1.1em;
line-height: normal;
}
li {
margin: 3px 0 0px 0px;
list-style: outside;
}
ul {
margin: 0px 0 1em 45px;
padding: 0;
}
ul li {
list-style: disc;
}
ol {
margin: 0px 0 1em 45px;
padding: 0;
}
ol li {
list-style: decimal;
}

blockquote {
margin: 0 15px 1em 15px;
padding: 5px 15px 5px 15px;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
color: #000;
font-size: 1em;
}
hr {
margin: 0 5px 1em 5px;
border: none;
border-bottom: 1px solid #CCC;
height: 1px;
padding: 0;
}

img {
border: none;
}

/* SITE WIDE CLASSES */

.photoAlignLeft {
float: left;
margin: 0 8px 4px 0;
}
.photoAlignRight {
float: right;
margin: 0 0 4px 8px;
}

.greyBorder {
border: 1px solid #DDD;
}  
div.greyBorder {
padding: 8px;
margin-bottom: 5px;
}


/* HOME PAGE STYLES */
#homepageContent {
width: 645px;
margin: 0;
padding: 0;
}
.quickFact {

}
.quickFact p {
font-size: 1em;
margin: 0;
}

.homeLeft {
width: 645px;
}
.homeLeft #bipartisanSpotlight h3 {
font-weight: normal;
margin: 5px 0;
font-size: 2.4em;
color: #000;
line-height: 1;
}

.homeLeft .header h3 {
font-weight: normal;
}
.homeLeft .header .rss {
display: none;
visibility: hidden;
height: 1px;
}

#latestNews .theNews .newsItem {
margin-bottom: 5px;
padding-bottom: 5px;
border-bottom: 1px solid #e2e2e2;
}
#latestNews .theNews .last {
margin-bottom: 0;
padding-bottom: 4px;
border-bottom: none;
}
#latestNews .theNews .newsItem img {
border: 1px solid #7a7675;
}

.homeLeft #ideaGallery {
display: none;
visibility: hidden;
height: 1px;
}
.homeLeft #ideaGallery .rss {
display: none;
visibility: hidden;
height: 1px;
}

.homeRight {
margin: 0 0 9px 0;
}
.homeRight #ourProjects,
.homeRight #latestReports {
margin-bottom: 9px;
}
.homeRight .header .rss {
display: none;
visibility: hidden;
height: 1px;
}
.homeRight .header h3 {
margin: 0;
font-weight: normal;
}
.homeRight #ourProjects .projectTitle {
padding: 0;
margin-top: 4px;
padding-bottom: 2px;
}
.homeRight #ourProjects .projectTitle h5 {
margin: 0 0 3px 0;
padding-top: 4px;
border-top: 1px solid #cadae9;
}
.homeRight #ourProjects h5.first {
border-top: none;
}

.ui-icon {
display: none;
visibility: hidden;
height: 1px;
}

.homeRight #ourProjects .projectDetails {  
margin: 2px 0 5px 0;
}
.homeRight #ourProjects .projectDetails p {
margin: 0;
}

.homeRight #latestReports .report {
padding: 5px 0 0 0;
margin: 0;
border-bottom: 1px solid #DDD;
}
.homeRight #latestReports .report p {
margin: 0 0 7px 0;
}
.homeRight #latestReports .last {
border-bottom: none;
}
.homeRight #latestReports #reports-search-box {
display: none;
visibility: hidden;
height: 1px;
}

/* DOWNSTREAM PAGE STYLES */